= form_for @changeset, @action, [multipart: true], fn f ->
  - if f.errors != [] do
    .alert.alert-danger
      %p Oops, something went wrong! Please check the errors below:
      %ul
        - for {attr, message} <- f.errors do
          %li= humanize(attr) <> " " <> message
  .form-group
    %label{ for: "document[name]" }
      Name:
    = text_input f, :name, class: "form-control"
  .form-group
    %label{ for: "document[file]" }
      File:
    = file_input f, :file, class: "form-control"
  .form-group
    = submit "Submit", class: "btn btn-primary"
    &nbsp;
    = link "Cancel", to: admin_document_path(@conn, :index), class: "btn btn-default"
- end
