%h2.page-heading= @document.file_original_file_name
#page
  .row.document-preview
    .col-xs-12.col-sm-2
      %strong Name:
    .col-xs-12.col-sm-10
      = link @document.name, to: document_file_path(@document)
  .row.document-file-size
    .col-xs-12.col-sm-2
      %strong File Size:
    .col-xs-12.col-sm-10
      = @document.file_size
  .row.document-file-content-type
    .col-xs-12.col-sm-2
      %strong File Content Type:
    .col-xs-12.col-sm-10
      = @document.file_content_type
  .row.document-file-checksum
    .col-xs-12.col-sm-2
      %strong SHA512 Checksum:
    .col-xs-12.col-sm-10{ style: "word-break: break-all;" }
      = @document.file_checksum
  .row.document-inserted-at
    .col-xs-12.col-sm-2
      %strong Inserted At:
    .col-xs-12.col-sm-10
      = @document.inserted_at
  .row.document-updated-at
    .col-xs-12.col-sm-2
      %strong Updated At:
    .col-xs-12.col-sm-10
      = @document.updated_at
  .action-buttons-container
    = link "Edit", to: admin_document_path(@conn, :edit, @document), class: "btn btn-primary"
    &nbsp;
    = link "Delete", to: admin_document_path(@conn, :delete, @document), method: :delete, class: "btn btn-danger"
